backend/client/.zig-cache
backend/server/.zig-cache
backend/client/zig-out
backend/server/zig-out
backend/client/cache
backend/NetworksButBetter/backend/src/.zig-cache
backend/NetworksButBetter/backend/src/zig-out
backend/NetworksButBetter/backend/src/app
backend/NetworksButBetter/backend/src/testing